*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container h1{
    font-size: 3rem;
    text-align: center;
}

.container{
    width: 100%;
    height: 100vh;
background: #11998e;  
background: -webkit-linear-gradient(to right, #38ef7d, #11998e); 
background: linear-gradient(to right, #38ef7d, #11998e); 
}

.formbox{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding:50px 60px 70px;
    text-align: center;
}

.formbox h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(0, 0, 0);
    position: relative;
}

.formbox h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: black;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.inputfield{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.inputfield i{
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: left;
    font-size: 13px;
}

form p {
    text-decoration: none;
    color: black;
}
.btnfield{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btnfield button{
    flex-basis: 48%;
    background: #08fab5;
    color: rgb(0, 0, 0);
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 250px;
}
.btnfield button.disable{
    background: #eaeaea;
    color: #555;
}
